/.metadata/
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Phonebook/.classpath
Phonebook/.project
Phonebook/bin/com/acn/Person.class
*.class
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/write.lock
Phonebook/bin/com/acn/SearchContactInfo.class~40e14aa668bb68cca8e8a60ca8ae062e44acf291
