/.metadata/
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Phonebook/bin/com/acn/SearchContactInfo.class
Phonebook/bin/com/acn/SearchContactInfo.class
*.class
.recommenders/*
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_2
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdt
Phonebook/bin/com/acn/SearchContactInfo.class
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdt
Phonebook/bin/com/acn/SearchContactInfo.class
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdt
